/* --------------------------------------------- */
/* Default xaringan options, which I tweak a bit */
/* --------------------------------------------- */

/* link color */
a, a > code {
  color: rgb(35, 78, 131);
  text-decoration: none;
}

/* footnotes */
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}

/* comments within code */
.remark-code-line-highlighted { 
  background-color: #ffff88; 
}

/* inverse type of slides, which we can use as section dividers */
.inverse {
  background-color: rgb(0, 46, 82);
  color: white;
  text-shadow: none;
}

/* headers in inverse slides */
.inverse h1, .inverse h2, .inverse h3 {
  color: white;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

/* config of several types of objects */
img, video, iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* ----------------------- */
/* New options added by me */
/* ----------------------- */

/* -------- title slide -------- */
.title-slide {
  background-image: url(https://www.uv.es/fatwireed/userfiles/image/MIVIUV-21.png);
  background-position: 90% 15%;
  background-size: 200px ;
  background-color: white;
}

.title-slide h1 {
  color: rgb(0, 46, 82);
  padding-top: 250px;
  font-weight: normal;
  font-size: 50px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h2 {
  color: rgb(54, 79, 116);
  padding-top: 0px;
  font-weight: normal;
  font-size: 40px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h3 {
  color: rgb(106, 122, 155);
  padding-top: 0px;
  font-weight: normal;
  font-size: 35px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* remove slide count in first slide */
.title-slide .remark-slide-number {
  display: none;
  text-shadow: none;
}

/* -------- global adjustments -------- */

/* headers colors */
h1 {
  color: rgb(0, 46, 82);
}

h2 {
  color: rgb(54, 79, 116);
}

h3 {
  color: rgb(106, 122, 155);
}

/* what color bold word should be */

strong {
  color: rgb(0, 46, 82);
}

/* ----- defining new different colors----- */

/* colors recurs corporatiu */
.rec_uveg_1 {
  color: rgb(35, 78, 131);
}

.rec_uveg_2 {
  color: rgb(104, 161, 213);
}

.rec_uveg_3 {
  color: rgb(66, 109, 167);
}

.rec_uveg_4 {
  color: rgb(0, 130, 197);
}

/* colors centres */
.fisio {
  color: rgb(76, 175, 170);
}

.inferm {
  color: rgb(225, 211, 0);
}

.fcafe {
  color: rgb(154, 189, 127);
}

.filtradcom {
  color: rgb(168, 200, 233);
}

.filoeduc {
  color: rgb(168, 200, 233);
}

.geohist {
  color: rgb(168, 200, 233);
}

.medodont {
  color: rgb(225, 211, 0);
}

.psico {
  color: rgb(205, 102, 204);
}

.etse {
  color: rgb(120, 75, 0);
}

.bio {
  color: rgb(33, 29, 85);
}

.farma {
  color: rgb(127, 19, 153);
}

.fisica {
  color: rgb(33, 29, 85);
}

.mates {
  color: rgb(33, 29, 85);
}

.quimica {
  color: rgb(33, 29, 85);
}

.socials {
  color: rgb(30, 80, 28);
}

.dret {
  color: rgb(215, 0, 0);
}

.eco {
  color: rgb(238, 127, 0);
}

.magister {
  color: rgb(168, 200, 233);
}

/* defining a custom block quote */
blockquote-uv {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px rgb(0, 46, 82);
  background-color: rgb(225, 225, 205);
  padding: 1em;
  color: black;
}